/**
 * ----------------------------------------------------------------------------
 *  SECTION: HERO
 * ----------------------------------------------------------------------------
 */

.hero {
  position: relative;
  height: rem(940, $text-size);
  padding-left: rem($desktop-container-gutter, $text-size);

  @include at($max, $widescreen) {
    height: rem(926, $text-size);
  }

  @include at($max, $tablet) {
    height: rem(934, $text-size);
  }

  @include at($max, $phone - 1) {
    height: rem(669, $text-size);
    padding-left: rem($mobile-container-gutter, $text-size);
  }
}

.hero__wrap {
  position: relative;
  height: 100%;
  margin-left: calc((100vw - #{ rem($wrapper, $text-size) }) / 2 - #{ rem($desktop-container-gutter, $text-size) });

  @include at($max, $wrapper + $desktop-container-gutter * 2px) {
    margin-left: 0;
  }

  @include at($max, $desk) {
    margin-left: calc((100vw - #{ rem($wrapper_desk, $text-size) }) / 2 - #{ rem($desktop-container-gutter, $text-size) });
  }

  @include at($max, $wrapper_desk + $desktop-container-gutter * 2px) {
    margin-left: 0;
  }
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__header {
  position: absolute;
  top: rem(205, $text-size);
  left: rem(210, $text-size);
  padding-right: rem($desktop-container-gutter, $text-size);

  @include at($max, $widescreen) {
    top: rem(128, $text-size);
  }

  @include at($max, $desk) {
    left: 0;
  }

  @include at($max, $tablet) {
    top: rem(122, $text-size);
  }

  @include at($max, $phone - 1) {
    top: rem(92, $text-size);
    padding-right: rem($mobile-container-gutter, $text-size);
  }
}

.hero__title {
  max-width: em(800, 89);
  margin: 0 0 em(39, 89);
  font-weight: 900;
  font-size: rem(89, $text-size);
  line-height: em(104, 89);
  color: #fefefe;

  @include at($max, $tablet) {
    margin-bottom: em(30, 64);
    font-size: rem(64, $text-size);
    line-height: em(75, 64);
  }

  @include at($max, $phone - 1) {
    margin-bottom: em(15, 48);
    font-size: rem(48, $text-size);
    line-height: em(56, 48);
  }
}

.hero__social-media {
  position: absolute;
  left: 0;
  bottom: rem(110, $text-size);

  @include at($max, $widescreen) {
    bottom: rem(72.5, $text-size);
  }

  @include at($max, $tablet) {
    bottom: rem(100, $text-size);
  }

  @include at($max, $phone - 1) {
    display: none;
  }
}

/* CAROUSEL ================================================================================ */

.hero-carousel {
  position: absolute;
  right: 0;
  bottom: rem(110, $text-size);
  width: 1080 / 1920 * 100vw;
  padding-left: rem(135, $text-size);
  overflow: hidden;

  @include at($max, $widescreen) {
    bottom: rem(65, $text-size);
    width: calcFluidFontSize(588, 720, 640, 1200);
  }

  @include at($max, $tablet) {
    bottom: rem(97, $text-size);
    padding-left: rem(71, $text-size);
  }

  @include at($max, $phone - 1) {
    bottom: rem(50, $text-size);
    width: calcFluidFontSize(317, 585, 320, 639);
    padding-left: rem(21, $text-size);
  }
}

.hero-carousel__container {
  position: relative;
  display: flex;
  height: rem(352, $text-size);
  margin-bottom: rem(20, $text-size);
  transition: transform .5s;
  
  @include at($max, $widescreen) {
    margin-bottom: rem(25, $text-size);
  }

  @include at($max, $phone - 1) {
    height: rem(202, $text-size);
    margin-bottom: rem(15, $text-size);
  }
}

.hero-carousel__card {
  position: relative;
  width: rem(140, $text-size);
  height: rem(203, $text-size);
  margin-top: rem(90, $text-size);
  margin-right: rem(46, $text-size);
  flex-shrink: 0;
  transition-duration: .5s;
  transition-property: width, height, margin-top, opacity, visibility;

  @include at($max, $widescreen) {
    width: rem(180, $text-size);
    height: rem(261, $text-size);
    margin-top: rem(45, $text-size);
    margin-right: rem(30, $text-size);
  }

  @include at($max, $phone - 1) {
    width: rem(113, $text-size);
    height: rem(164, $text-size);
    margin-top: rem(18, $text-size);
    margin-right: rem(10, $text-size);
  }

  &::before { background-image: linear-gradient(357.17deg, #000 -56.45%, rgba(0,0,0,0) 65.03%); }

  &.carousel__card_active {
    width: rem(245, $text-size);
    height: rem(352, $text-size);
    margin-top: 0;

    @include at($max, $phone - 1) {
      width: rem(140, $text-size);
      height: rem(202, $text-size);
    }
  }
}

.hero-carousel__card_hidden {
  opacity: 0;
  visibility: hidden;
}

.hero-carousel__image {
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(rem(5, $text-size) rem(4, $text-size) rem(50, $text-size) rgba(152,157,198,.25));
  border-radius: rem(5, $text-size);
}

.hero-carousel__image_left-position_80 { object-position: 80%; }

.hero-carousel__info { 
  padding-bottom: rem(33, $text-size);
  
  @include at($max, $phone - 1) {
    padding: rem(10, $text-size) rem(4, $text-size) rem(11, $text-size) rem(8, $text-size);
  }

  .carousel__card_active & { transition-delay: .35s; }
}

.hero-carousel__text {
  @include at($max, $phone - 1) {
    margin-bottom: em(9, 12);
    font-size: rem(12, $text-size);
    line-height: em(14, 12);
  }
}

.hero-carousel__info-link.carousel-info__link_first {
  @include at($max, $phone - 1) {
    margin-right: 0;
    margin-bottom: rem(6, $text-size);
  }
}

.hero-carousel__info-text  {
  @include at($max, $phone - 1) {
    font-size: rem(10, $text-size);
    line-height: em(12, 10);
  }
}

.hero-carousel__track::before,
.hero-carousel__track-point {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-carousel__track {
  position: absolute;
  top: 44.5%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  @include at($max, $phone - 1) {
    top: 39%;
  }

  &::before {
    content: "";
    left: rem(7, $text-size);
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}

.hero-carousel__track-point {
  box-sizing: content-box;
  width: 5px;
  height: 5px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-clip: content-box;
  background-color: #fff;

  // Points placement

  &:first-child {
    left: 0;
  }

  @mixin placeSliderPoints($point-offset-x, $slide-width, $slide-margin-right, $active-slide-width, $point-width, $container-padding-left) {
    $half-slide-width: $slide-width / 2;
    $half-active-slide-width: $active-slide-width / 2;
    $half-point-width: $point-width / 2;

    @for $i from 2 through 9 {
      @if $i == 2 {
        $point-offset-x: $container-padding-left + $half-slide-width - $half-point-width;
      }
      @else if $i > 2 {
        @if $i < 5 {  // active slide has more width, need calculate it
          $point-offset-x: $point-offset-x + $half-slide-width + $slide-margin-right + $half-active-slide-width;
        } @else { // default calculating
          $point-offset-x: $point-offset-x + $slide-width + $slide-margin-right;
        }
      } 
      
      &:nth-child(#{ $i }) {
        left: rem($point-offset-x, $text-size);
      }
    }
  }

  @include placeSliderPoints(0, 140, 46, 245, 13, 135);

  @include at($max, $widescreen) {
    @include placeSliderPoints(0, 180, 30, 245, 13, 135);
  }

  @include at($max, $tablet) {
    @include placeSliderPoints(0, 180, 30, 245, 13, 71);
  }

  @include at($max, $phone - 1) {
    @include placeSliderPoints(0, 113, 10, 140, 13, 21);
  }
}

.hero-carousel__controls {
  display: inline-block;
  margin-left: rem(185, $text-size);

  @include at($max, $widescreen) {
    margin-left: rem(215, $text-size);
  }

  @include at($max, $tablet) {
    margin-left: rem(216, $text-size);
  }

  @include at($max, $phone - 1) {
    margin-left: rem(123, $text-size);
    line-height: .3;
  }
}

.hero-carousel__fraction {
  @include at($max, $phone - 1) {
    margin-bottom: 0;
  }
}

.hero-carousel__range {
  @include at($max, $phone - 1) {
    --length: 140px;
  }
}