/**
 * ----------------------------------------------------------------------------
 *  SECTION: FEATURED ITEMS
 * ----------------------------------------------------------------------------
 */

.featured-items {
  @include at($max, $widescreen) {
    max-width: rem(1000 + $desktop-container-gutter * 2, $text-size);
  }

  @include at($max, $phone-xl) {
    margin-bottom: em(50, $text-size);
  }
}

.featured-items__title {
  margin-bottom: em(35, $title-font-size);

  @include at($max, $widescreen) {
    margin-bottom: em(31, $title-font-size);
  }

  @include at($max, $phone-xl) {
    margin-bottom: em(40, $title-font-size);
    font-size: rem(36, $text-size);
    line-height: em(42, 36);
  }
}

.featured-items-carousel { 
  position: relative;
  margin-bottom: rem(29, $text-size);

  @include at($max, $phone) {
    margin-bottom: rem(34, $text-size);
  }

  @include at($max, $phone-xl) {
    margin-bottom: rem(24, $text-size);
  }
}

.featured-items-carousel__container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: rem(30, $text-size);
  margin-bottom: rem(30, $text-size);
  overflow: hidden;

  @include at($max, $widescreen) {
    max-width: rem($wrapper-desk, $text-size);
    grid-column-gap: rem(20, $text-size);
    margin-bottom: rem(27, $text-size);
  }

  @include at($max, $lap) {
    overflow-x: visible;
  }

  @include at($max, $phone) {
    margin-bottom: rem(35, $text-size);
  }

  @include at($max, $phone-xl) {
    grid-column-gap: rem(16, $text-size);
    margin-bottom: rem(30, $text-size);
  }
}

.featured-items-carousel__arrow {
  position: absolute;
  top: 38.5%;

  @include at ($max, $widescreen) {
    top: 36%;
  }

  &.carousel__arrow_type_prev { left: rem(6, $text-size); }
  &.carousel__arrow_type_next { right: rem(6, $text-size); }
}

.featured-items-carousel__card {
  display: none;
  width: rem(278, $text-size);
  height: rem(399, $text-size);
  overflow: hidden;
  animation: .6s ease-out;

  @include at($max, $widescreen) {
    width: rem(210, $text-size);
    height: rem(301, $text-size);
  }

  &::before { background-image: linear-gradient(348.75deg, #000 10.15%, rgba(0,0,0,0) 59%); }
}

.featured-items-carousel__card_active,
.featured-items-carousel__card_next {
  display: block;
}

.featured-items-carousel__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: rem(5, $text-size);
}

.featured-items-carousel__info { 
  padding-bottom: rem(42, $text-size);
  transform: translateY(100%);
  transition: transform .5s;

  @include at ($max, $widescreen) {
    padding: rem(10, $text-size) rem(7, $text-size) rem(32, $text-size) rem(9, $text-size);
  }
}

.featured-items-carousel__card:hover .featured-items-carousel__info { transform: translateY(0); }

.featured-items-carousel__info-link.carousel-info__link_first {
  @include at($max, $widescreen) {
    margin-right: rem(7, $text-size);
  }
}

.featured-items-carousel__controls {
  @include at($max, $widescreen) {
    margin-left: rem(10, $text-size);
  }

  @include at($max, $phone) {
    margin-left: rem(5, $text-size);
  }
}

/* ANIMATION ================================================================================ */

.featured-items-carousel__card_to-left { animation-name: carouselToLeft; }
.featured-items-carousel__card_to-left-double { animation-name: carouselToLeftDouble; }

.featured-items-carousel__card_from-left {
  animation-name: carouselToLeft;
  animation-direction: reverse;
}

.featured-items-carousel__card_to-right {
  animation-name: carouselFromRight;
  animation-direction: reverse;
}

.featured-items-carousel__card_to-right-double {
  animation-name: carouselToLeftDouble;
  animation-direction: reverse;
}

.featured-items-carousel__card_from-right { animation-name: carouselFromRight; }

@keyframes carouselToLeft {
  from { left: 0; }
  to { left: var(--featured-item-width); }
}

@keyframes carouselToLeftDouble {
  from { left: var(--featured-item-width); }
  to { left: calc(var(--featured-item-width) * 2); }
}

@keyframes carouselFromRight {
  from { right: var(--featured-item-width); }
  to { right: 0 }
}