/**
 * ----------------------------------------------------------------------------
 *  SECTION: MAP
 * ----------------------------------------------------------------------------
 */

.map__title { margin-bottom: rem(59, $text-size); }
.map__image-hotspots { margin-bottom: rem(35, $text-size); }

.map__hotspot_num_1 {
  top: 75 / 498 * 100%;
  left: 122 / 1200 * 100%;
}

.map__hotspot_num_2 {
  top: 103 / 498 * 100%;
  left: 245 / 1200 * 100%;
}

.map__hotspot_num_3 {
  top: 189.5 / 498 * 100%;
  left: 572 / 1200 * 100%;
}

.map__hotspot_num_4 {
  top: 90.5 / 498 * 100%;
  right: 240.5 / 1200 * 100%;
}