/**
 * ----------------------------------------------------------------------------
 *  SECTION: STEPS
 * ----------------------------------------------------------------------------
 */

.steps {
  @include at($max, $phone-xl) {
    padding-top: rem(50, $text-size);
    padding-bottom: rem(50, $text-size);
  }
}

.steps__title {
  margin-bottom: em(30, $title-font-size);

  @include at($max, $lap) {
    margin-bottom: em(15, $title-font-size);
  }

  @include at($max, $phone-xl) {
    margin-bottom: em(39, $title-font-size);
    font-size: em(36, $text-size);
    line-height: em(42, 36);
  }
}

.steps__subtext {
  margin-bottom: em(91, $text-size);

  @include at($max, $desk) {
    margin-bottom: em(50, $text-size);
  }

  @include at($max, $phone) {
    max-width: rem(538, $text-size);
    margin-left: auto;
    margin-right: auto;
  }
}

.steps__list {
  display: grid;
  grid-template-columns: rem(245, $text-size) 1fr rem(245, $text-size) 1fr rem(245, $text-size);
  grid-column-gap: rem(63, $text-size);
  margin-bottom: rem(60, $text-size);
  align-items: center;
  
  @include at($max, $desk) {
    grid-column-gap: rem(17, $text-size);
    margin-bottom: rem(50, $text-size);
  }

  @include at($max, $lap) {
    grid-template-columns: 1fr;
    grid-row-gap: rem(30, $text-size);
    justify-items: center;
  }

  @include at($max, $phone-xl) {
    margin-bottom: rem(40, $text-size);
  }
}

.steps__item {
  position: relative;
  width: rem(245, $text-size);
  height: rem(245, $text-size);
  padding: rem(3, $text-size);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: $accent-gradient;
    border-radius: 50%;
  }
}

.steps__block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: rem(40, $text-size);
  align-items: center;
  justify-content: center;
  background-color: var(--content-primary-bg);
  border-radius: 50%;
}

.steps__image-wrap {
  display: flex;
  min-height: rem(65, $text-size);
  margin-bottom: rem(18, $text-size);
  align-items: flex-end;
}

.steps__text {
  max-width: rem(135, $text-size);;
  font-weight: 900;
  font-size: rem(20, $text-size);
}

.steps__figure {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: rem(2, $text-size);
  background-image: $accent-gradient;

  @include at($max, $lap) {
    width: rem(2, $text-size);
    height: rem(40, $text-size);
  }
}

.steps__chevron-right {
  width: auto;
  height: rem(14, $text-size);

  @include at($max, $lap) {
    position: absolute;
    transform: rotate(90deg) translate(17px, -3px);
  }
}