/**
 * ----------------------------------------------------------------------------
 *  MAIN
 * ----------------------------------------------------------------------------
 */

.page-map__main { padding: rem(60, $text-size) 0 rem(100, $text-size); }
.page-map__title { margin-bottom: rem(22, $text-size); }

.page-map__text {
  max-width: rem(790, $text-size);
  margin: 0 auto rem(52, $text-size);
  line-height: em(16, 14);
}

.page-map__carousel {
  margin-bottom: rem(77, $text-size);
  position: relative;
}

.page-map-carousel__container {
  max-width: rem(1073, $text-size);
  margin: 0 auto rem(32, $text-size);
}

.page-map-carousel__item {
  margin-right: rem(30, $text-size);
  cursor: pointer;
}

.page-map-carousel__image {
  width: rem(108, $text-size);
  height: rem(108, $text-size);
  object-fit: cover;
  border-radius: 50%;
  transition: width .3s, height .3s;
}

.page-map-carousel__image_left-position_87 { object-position: 87%; }

.page-map-carousel__item_active {
  position: relative;
  margin-left: rem(-25, $text-size);
  margin-right: rem(5, $text-size);
  padding: rem(10, $text-size);
  background-image: linear-gradient(90deg, #07eee0 -20%, #df496d 93%);
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: rem(3, $text-size);
    bottom: rem(3, $text-size);
    left: rem(3, $text-size);
    right: rem(3, $text-size);
    background-color: #fbfbfb;
    border-radius: 50%;
  }

  .page-map-carousel__image {
    position: relative;
    z-index: 1;
    width: rem(137, $text-size);
    height: rem(137, $text-size);
  }
}

.page-map-carousel__item_active {
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

.page-map-carousel__arrow {
  position: absolute;
  top: 26.5%;

  &.carousel__arrow_type_prev { left: rem(6, $text-size); }
  &.carousel__arrow_type_next { right: rem(6, $text-size); }
}

.page-map-carousel__controls { margin-left: rem(-34, $text-size); }
.page-map__image-hotspots { margin-bottom: rem(46, $text-size); }

.page-map__hotspot_num_1 {
  top: 83 / 498 * 100%;
  left: 132 / 1200 * 100%;
}

.page-map__hotspot_num_2 {
  top: 103 / 498 * 100%;
  left: 243 / 1200 * 100%;
}

.page-map__hotspot_num_3 {
  top: 190 / 498 * 100%;
  left: 572 / 1200 * 100%;
}

.page-map__hotspot_num_4 {
  top: 99 / 498 * 100%;
  right: 230 / 1200 * 100%;
}