@import "variables";
@import "mixins";
@import "fonts";

/**
 * ----------------------------------------------------------------------------
 *  RESET
 * ----------------------------------------------------------------------------
 */

* { box-sizing: border-box; }
body { margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child { margin-top: 0; }
}

p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

img,
svg {
  vertical-align: middle;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a { text-decoration: none; }

button {
  border: 0;
  background-color: transparent;
}

input[type=submit] { border: 0; } 

/**
 * ----------------------------------------------------------------------------
 *  BASE
 * ----------------------------------------------------------------------------
 */

html {
  font-family: $font-main;
  color: $text-color;
  font-size: $default-text-font-size;
}

.page { overflow-x: hidden; }

.header,
.main,
.footer {
  min-width: rem(320, $text-size);
}

.main { background-color: #fbfbfb; }

/**
 * ----------------------------------------------------------------------------
 *  COMMON
 * ----------------------------------------------------------------------------
 */

/* TYPOGRAPHY ================================================================================ */

.text-center { text-align: center; }

/* HIDDEN ================================================================================ */

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

@include at($max, $phone - 1) {
  .hidden-phone { display: $hidden; }
}

@include at($min, $phone) {
  .hidden-phone-and-up { display: $hidden; }
}

@include at($max, $tablet - 1) {
  .hidden-tablet { display: $hidden; }
}

@include at($min, $tablet) {
  .hidden-tablet-and-up { display: $hidden; }
}

@include at($max, $lap - 1) {
  .hidden-lap { display: $hidden; }
}

@include at($min, $lap) {
  .hidden-lap-and-up { display: $hidden; }
}

@include at($max, $desk - 1) {
  .hidden-desk { display: $hidden; }
}

@include at($min, $desk) {
  .hidden-desk-and-up { display: $hidden; }
}

@include at($max, $widescreen - 1) {
  .hidden-wide { display: $hidden; }
}

@include at($min, $widescreen) {
  .hidden-wide-and-up { display: $hidden; }
}

/* WRAP ================================================================================ */

.wrapper,
.container,
.large-container {
  margin: auto;
}

.wrapper { max-width: rem($wrapper, $text-size); }
.container { max-width: rem($container, $text-size); }
.large-container { max-width: rem($large-container, $text-size); }

%inline-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.section_highlighted {
  padding-top: rem(100, $text-size);
  padding-bottom: rem(100, $text-size);
  background-color: $content-primary-bg;
}

/* MARGINS ================================================================================ */

.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }

/* TITLES ================================================================================ */

.title {
  font-size: rem($title-font-size, $text-size);
  font-weight: 900;
  line-height: em(56, 48);
  color: $title-color;
}

.subtitle {
  font-size: rem($subtitle-font-size, $text-size);
  font-weight: 900;
  color: $subtitle-color;
}

/* BUTTON & LINK ================================================================================ */

%link-or-btn__icon {
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

%link-or-btn__icon_type_play {
  content: "";
  display: block;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}

.link {
  @extend %inline-box;
  font-size: rem($link-font-size, $text-size);
}

.link__text {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.link__icon {
  @extend %link-or-btn__icon;

  width: em(24, $link-font-size);
  height: em(24, $link-font-size);
  margin-right: em(2, $link-font-size);
  align-items: center;
}

.link__icon_type_play::before {
  @extend %link-or-btn__icon_type_play;
  margin-left: em(2, $link-font-size);
  border-width: em(4, $link-font-size) 0 em(4, $link-font-size) em(6, $link-font-size);
}

.link__icon_type_usd {
  align-items: flex-end;
  
  &::before {
    content: "$";
    color: #fff;
    font-weight: 500;
    font-size: rem(18, $text-size);
  }
}

.link_accent {
  .link__text { color: $accent-color; }
  .link__icon {
    border-color: $accent-color;

    &::before { border-left-color: $accent-color; }
  }
}

.btn {
  @extend %inline-box;

  min-width: em(245, $btn-font-size);
  min-height: em(55, $btn-font-size);
  padding: em(11.5, $btn-font-size) em(15, $btn-font-size);
  font-size: rem($btn-font-size, $text-size);
  background-image: $btn-bg;
  border-radius: em(3, $btn-font-size);
  cursor: pointer;
  transition: filter .3s;

  &:hover {
    filter: drop-shadow(15px 16px 10px #333) grayscale(.6);
  }
}

.btn__text {
  font-weight: 900;
  text-transform: uppercase;
  color: $btn-color;
}

.btn__icon {
  @extend %link-or-btn__icon;

  width: em(32, $btn-font-size);
  height: em(32, $btn-font-size);
  margin-right: em(5, $btn-font-size);
  align-items: center;
}

.btn__icon_type_play::before {
  @extend %link-or-btn__icon_type_play;
  margin-left: em(2, $btn-font-size);
  border-width: em(5, $btn-font-size) 0 em(5, $btn-font-size) em(8, $btn-font-size);
}

/* NAV ================================================================================ */

.nav {
  flex: 1;
}

.nav__list {
  justify-content: center;
}

.nav__item {
  margin-right: em(80, $nav-item-font-size);
  padding: 0 em(5, $nav-item-font-size) 0 em(1, $nav-item-font-size);
  border-bottom: 1px solid transparent;
  font-size: rem($nav-item-font-size, $text-size);
  transition: font-weight $trans-duration, border-color $trans-duration;
}

.nav__item_active,
.nav__item:hover {
  font-weight: 900;
  border-bottom-color: $nav-item-color;
}

.nav__link {
  color: $nav-item-color;

  .nav__item_active & { cursor: default; }
}

/* LOGO ================================================================================ */

.logo {
  color: $title-color;
  font-weight: 900;
  text-transform: lowercase;
}

.logo__text {
  display: block;
  font-size: rem(36, $text-size);  
}

.logo__subtext {
  display: block;
  margin-top: em(-5, 18);
  font-size: rem(18, $text-size);
  letter-spacing: .08em;
}

/* TOGGLE COLOR MODE ================================================================================ */

.toggle-color-mode {
  width: rem(54, $text-size);
  height: rem(30, $text-size);
  margin-top: rem(10, $text-size);
  padding: rem(5, $text-size) rem(6, $text-size);
  background-color: #f2f2f2;
  border-radius: rem(190, $text-size);

  &::-webkit-slider-thumb {
    width: rem(20, $text-size);
    height: rem(20, $text-size);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 4px 15px rgba(6,12,70,.15);
  }
}

/* SOCIAL MEDIA ================================================================================ */

.social-media_row .social-media__item { margin-left: rem(15, $text-size); }
.social-media_column .social-media__item { margin-bottom: rem(15, $text-size); }

.social-media__link {
  display: block;
  width: rem(20, $text-size);
  background-size: cover;
  transition: filter .3s;

  &:hover { filter: invert(74%) sepia(36%) saturate(611%) hue-rotate(113deg) brightness(300%) contrast(92%); }
}

.social-media__instagram {
  height: rem(20, $text-size);
  background-image: url("../../../assets/icons/social-media/icon-instagram.svg");
}

.social-media__twitter {
  height: rem(17, $text-size);
  background-image: url("../../../assets/icons/social-media/icon-twitter.svg");
}

.social-media__youtube {
  height: rem(14, $text-size);
  background-image: url("../../../assets/icons/social-media/icon-youtube.svg");
}

.social-media__vk {
  height: rem(12, $text-size);
  background-image: url("../../../assets/icons/social-media/icon-vk.svg");
}

/* SLIDER ================================================================================ */

.slider {
  -webkit-appearance: none;
          appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    cursor: pointer;
  }
}

/* CAROUSEL ================================================================================ */

.carousel__card {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
  } 
}

.carousel__card_hovered:hover::before,
.carousel__card_active::before,
.carousel__card_hovered:hover .carousel__info,
.carousel__card_active .carousel__info {
  visibility: visible;
  opacity: 1;
}

// INFO

.carousel__info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
}

.carousel-info {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: rem(20, $text-size) rem(22, $text-size) 0;
}

.carousel-info__link_first { margin-right: em(12, $link-font-size); }

.carousel__text {
  max-width: em(185, 14);
  font-size: rem(14, $text-size);
  line-height: em(16, 14);
  color: #fff;
}

// ARROW

.carousel__arrow {
  width: rem(18, $text-size);
  height: rem(30, $text-size);
  background-image: url("../../../assets/icons/icon-chevron-right.svg");
  cursor: pointer;
}

.carousel__arrow_invert_left { transform: scale(-1, 1); }
.carousel__arrow_disabled { filter: invert(55%) sepia(15%) saturate(8%) hue-rotate(8deg) brightness(91%) contrast(92%); }

// FRACTION

.carousel__fraction { margin-bottom: rem(8, $text-size); }
.carousel-fraction { text-align: center; }

.carousel-fraction__current {
  font-weight: 900;
  font-size: rem(24, $text-size);
  line-height: em(28, 24);

  &::after { content: "/"; }
}

.carousel-fraction__current_color_light { color: #fefefe; }
.carousel-fraction__current_color_dark { color: #333; }

.carousel-fraction__total {
  margin-left: em(-3, 14);
  font-weight: 900;
  font-size: rem(14, $text-size);
  line-height: em(16, 14);
  color: $slider-total-number;
}

// RANGE

.carousel__range {
  width: rem(245, $text-size);
  height: rem(5, $text-size);
  background-color: rgba(189,189,189,.57);

  &::-webkit-slider-thumb {
    width: calc(245px / var(--max));
    height: rem(10, $text-size);
    margin-top: rem(-1, $text-size);
  }
}

.carousel__range_color_light::-webkit-slider-thumb { background-color: #fefefe; }
.carousel__range_color_dark::-webkit-slider-thumb { background-color: #333; }

/* IMAGE HOTSPOTS ================================================================================ */

.image-hotspots { position: relative; }
.image-hotspots__item { position: absolute; }

// POINT

.image-hotspots__point {
  height: rem(95, $text-size);
  padding: rem(12.5, $text-size) rem(12, $text-size);
  background-image: url("../../../assets/icons/map/icon-map-marker.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  filter: drop-shadow(2px 4px 15px rgba(6,12,70,.15));
}

.image-hotspots__item:hover .image-hotspots__point { background-image: url("../../../assets/icons/map/icon-map-marker-active.svg"); }

.image-hotspots__point-image {
  width: rem(43, $text-size);
  height: rem(43, $text-size);
  border-radius: 50%;
}

// TOOLTIP

.tooltip {
  position: absolute;
  top: rem(76, $text-size);
  display: flex;
  width: rem(436, $text-size);
  min-height: rem(145, $text-size);
  padding: rem(40, $text-size) rem(44, $text-size);
  align-items: flex-start;
  background-color: #fefefe;
  box-shadow: 2px 4px 15px rgba(6,12,70,.15);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.image-hotspots__item:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip_side_left { right: 50%; }
.tooltip_side_right { left: 50%; }

.tooltip__tooltip-image {
  flex-shrink: 0;
  margin-right: rem(20, $text-size);
  border-radius: 50%;
}

.tooltip__title {
  display: block;
  margin-bottom: rem(8, $text-size);
  color: $title-color;
  font-weight: 900;
  font-size: rem(18, $text-size);
}

.tooltip__info {
  display: flex;
  margin-bottom: rem(5, $text-size);
}

.tooltip__subtitle {
  margin-right: rem(5, $text-size);
  color: $title-color;
  font-weight: 500;
  line-height: rem(16, $text-font-size);
}

/**
 * ----------------------------------------------------------------------------
 *  HEADER
 * ----------------------------------------------------------------------------
 */

.header__wrapper {
  padding : rem(15, $text-size) 0 rem(23, $text-size);
}

.header__nav {
  margin: rem(20, $text-size) rem(20, $text-size) 0;
}

/**
 * ----------------------------------------------------------------------------
 *  MAIN
 * ----------------------------------------------------------------------------
 */

.main__section { margin: rem(100, $text-size) auto; }

/**
 * ----------------------------------------------------------------------------
 *  SECTION: HERO
 * ----------------------------------------------------------------------------
 */

.hero {
  position: relative;
  height: rem(940, $text-size);
  max-height: 100vh;
}

.hero__wrap {
  position: relative;
  height: 100%;
  margin-left: calc((100vw - #{ rem($wrapper, $text-size) }) / 2);
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__header {
  position: absolute;
  top: rem(205, $text-size);
  left: rem(210, $text-size);
}

.hero__title {
  max-width: em(800, 89);
  margin: 0 0 em(39, 89);
  font-weight: 900;
  font-size: rem(89, $text-size);
  line-height: em(104, 89);
  color: #fefefe;
}

.hero__social-media {
  position: absolute;
  left: 0;
  bottom: rem(110, $text-size);
}

/* CAROUSEL ================================================================================ */

.hero-carousel {
  position: absolute;
  bottom: rem(110, $text-size);
  right: 0;
}

.hero-carousel__container {
  position: relative;
  display: flex;
  max-width: rem(1080, $text-size);
  margin-bottom: rem(20, $text-size);
  padding-left: rem(135, $text-size);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    background-color: #fff;
  }

  &::before {
    right: 0;
    left: 7px;
    height: 1px;
  }

  &::after {
    left: 0;
    width: 5px;
    height: 5px;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-clip: content-box;
  }
}

.hero-carousel__card {
  width: rem(140, $text-size);
  height: rem(203, $text-size);
  margin-top: rem(90, $text-size);
  margin-right: rem(46, $text-size);
  flex-shrink: 0;
  transition: width .3s, height .3s;

  &::before { background-image: linear-gradient(357.17deg, #000 -56.45%, rgba(0,0,0,0) 65.03%); }

  &.carousel__card_active {
    width: rem(245, $text-size);
    height: rem(352, $text-size);
    margin-top: 0;
  }
}

.hero-carousel__image {
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(rem(5, $text-size) rem(4, $text-size) rem(50, $text-size) rgba(152,157,198,.25));
  border-radius: rem(5, $text-size);
}

.hero-carousel__info { padding-bottom: rem(33, $text-size); }
.hero-carousel__image_left-position_80 { object-position: 80%; }

.hero-carousel__controls {
  display: inline-block;
  margin-left: rem(320, $text-size);
}

/**
 * ----------------------------------------------------------------------------
 *  SECTION: STEP BY STEP
 * ----------------------------------------------------------------------------
 */

.main__step-by-step { width: rem(790, $text-size); }
.step-by-step__title { margin-bottom: em(31, $title-font-size); }
.step-by-step__carousel { margin-bottom: em(28, $text-size); }
.step-by-step-carousel__container { margin-bottom: em(29, $text-size); }

.step-by-step-carousel__text {
  line-height: em(16, $text-font-size);
  margin-bottom: em(29, $text-font-size);
}

.step-by-step-carousel__image {
  width: 100%;
  height: rem(323, $text-size);
  object-fit: cover;
  border-radius: rem(5, $text-size);
}

.step-by-step-carousel__image_top-position_71 { object-position: 0 71%; }
.step-by-step-carousel__fraction .carousel-fraction__total { color: $text-secondary-color; }

/**
 * ----------------------------------------------------------------------------
 *  SECTION: GOALS
 * ----------------------------------------------------------------------------
 */

.goals { padding-bottom: rem(130, $text-size); }

.goals__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: rem(30, $text-size);
}

.goals__image-wrap {
  height: rem(80, $text-size);
  margin-bottom: rem(15, $text-size);
}

.goals__subtitle {
  margin: 0 0 rem(16, $text-size);
  text-align: center;
}

.goals__text { line-height: em(16, 14); }

/**
 * ----------------------------------------------------------------------------
 *  SECTION: FEATURED ITEMS
 * ----------------------------------------------------------------------------
 */

.featured-items__title { margin-bottom: em(35, $title-font-size); }

.featured-items-carousel { 
  position: relative;
  margin-bottom: rem(29, $text-size);
}

.featured-items-carousel__container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: rem(30, $text-size);
  margin-bottom: rem(30, $text-size);
}

.featured-items-carousel__arrow {
  position: absolute;
  top: 38.5%;

  &.carousel__arrow_type_prev { left: rem(6, $text-size); }
  &.carousel__arrow_type_next { right: rem(6, $text-size); }
}

.featured-items-carousel__card {
  width: rem(278, $text-size);
  height: rem(399, $text-size);
  overflow: hidden;

  &::before { background-image: linear-gradient(348.75deg, #000 10.15%, rgba(0,0,0,0) 59%); }
}

.featured-items-carousel__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: rem(5, $text-size);
}

.featured-items-carousel__info { 
  padding-bottom: rem(42, $text-size);
  transform: translateY(100%);
  transition: transform .5s;
}

.featured-items-carousel__card:hover .featured-items-carousel__info { transform: translateY(0); }

/**
 * ----------------------------------------------------------------------------
 *  SECTION: STEPS
 * ----------------------------------------------------------------------------
 */

.steps__title { margin-bottom: em(30, $title-font-size); }
.steps__subtext { margin-bottom: em(91, $text-size); }

.steps__list {
  display: grid;
  grid-template-columns: rem(245, $text-size) 1fr rem(245, $text-size) 1fr rem(245, $text-size);
  grid-column-gap: rem(63, $text-size);
  margin-bottom: rem(60, $text-size);
  align-items: center;
}

.steps__item {
  position: relative;
  width: rem(245, $text-size);
  height: rem(245, $text-size);
  padding: rem(3, $text-size);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: $accent-gradient;
    border-radius: 50%;
  }
}

.steps__block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: rem(40, $text-size);
  align-items: center;
  justify-content: center;
  background-color: $content-primary-bg;
  border-radius: 50%;
}

.steps__image-wrap {
  display: flex;
  min-height: rem(65, $text-size);
  margin-bottom: rem(18, $text-size);
  align-items: flex-end;
}

.steps__text {
  max-width: rem(135, $text-size);;
  font-weight: 900;
  font-size: rem(20, $text-size);
}

.steps__figure {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: rem(2, $text-size);
  background-image: $accent-gradient;
}

.steps__chevron-right {
  width: auto;
  height: rem(14, $text-size);
}

/**
 * ----------------------------------------------------------------------------
 *  SECTION: TESTIMONIALS
 * ----------------------------------------------------------------------------
 */

.testimonials__title { margin-bottom: em(60, $title-font-size); }

.testimonials-carousel {
  position: relative;
  margin-bottom: em(28, $text-size);
}

.testimonials-carousel__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: rem(30, $text-size);
  margin-bottom: em(50, $text-size);
  min-height: rem(310, $text-size);
}

.testimonials-carousel__item {
  height: 100%;
  padding: rem(47, $text-size) rem(73, $text-size);
  cursor: pointer;  
  background-color: #fefefe;
  box-shadow: 2px 4px 15px rgba(6,12,70,.1);
  border-radius: 5px;
}

.testimonials-carousel__image {
  display: block;
  width: rem(68, $text-size);
  height: rem(68, $text-size);
  margin-bottom: rem(18, $text-size);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
}

.testimonials-carousel__image_vector {
  background-image: url("../../../assets/icons/testimonials/icon-user.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.testimonials-carousel__name {
  display: block;
  margin-bottom: em(18, $subtitle-font-size);
}

.testimonials-carousel__review { line-height: em(16, $text-font-size); }

.testimonials-carousel__arrow {
  position: absolute;
  top: 34%;

  &.carousel__arrow_type_prev { left: rem(6, $text-size); }
  &.carousel__arrow_type_next { right: rem(6, $text-size); }
}

/**
 * ----------------------------------------------------------------------------
 *  SECTION: MAP
 * ----------------------------------------------------------------------------
 */

.map__title { margin-bottom: rem(59, $text-size); }
.map__image-hotspots { margin-bottom: rem(35, $text-size); }

.map__hotspot_num_1 {
  top: 75 / 498 * 100%;
  left: 122 / 1200 * 100%;
}

.map__hotspot_num_2 {
  top: 103 / 498 * 100%;
  left: 245 / 1200 * 100%;
}

.map__hotspot_num_3 {
  top: 189.5 / 498 * 100%;
  left: 572 / 1200 * 100%;
}

.map__hotspot_num_4 {
  top: 90.5 / 498 * 100%;
  right: 240.5 / 1200 * 100%;
}