/**
 * ----------------------------------------------------------------------------
 *  MAIN
 * ----------------------------------------------------------------------------
 */

.page-map__main { 
  padding: rem(60, $text-size) rem($desktop-container-gutter, $text-size) rem(100, $text-size);
  background-color: var(--page-main-bg);

  @include at($max, $tablet) {
    padding-bottom: rem(80, $text-size);
  }

  @include at($max, $phone-xl) {
    padding-top: rem(35, $text-size);
    padding-bottom: rem(60, $text-size);
  }
}

.page-map__section {
  @include at($max, $desk) {
    max-width: rem(800, $text-size);
  }
}

.page-map__title {
  margin-bottom: rem(22, $text-size);

  @include at($max, $phone-xl) {
    margin-bottom: em(10, 24);
    font-size: rem(24, $text-size);
    line-height: em(28, 24);
  }
}

.page-map__text {
  max-width: rem(790, $text-size);
  margin: 0 auto rem(52, $text-size);
  line-height: em(16, 14);

  @include at($max, $desk) {
    margin-bottom: em(35, $text-size);
  }

  @include at($max, $phone-xl) {
    margin-bottom: em(38, 12);
    font-size: rem(12, $text-size);
    line-height: 1.16667;
  }
}

.page-map__carousel {
  margin-bottom: rem(77, $text-size);
  position: relative;

  @include at($max, $desk) {
    margin-bottom: rem(49, $text-size);
  }

  @include at($max, $tablet) {
    margin-bottom: rem(35, $text-size);
  }

  @include at($max, $phone-xl) {
    margin-bottom: rem(32, $text-size);
  }
}

.page-map-carousel__wrap {
  max-width: rem(1073, $text-size);
  margin: 0 auto rem(32, $text-size);
  overflow: hidden;

  @include at($max, $desk) {
    max-width: rem(659, $text-size);
    margin-bottom: rem(22, $text-size);
  }

  @include at($max, $tablet) {
    max-width: rem(515, $text-size);
  }

  @include at($max, $phone - 1) {
    max-width: rem(225, $text-size);
    margin-bottom: rem(20, $text-size);
  }
}

.page-map-carousel__container {
  height: rem(157, $text-size);
}

.page-map-carousel__item {
  margin-right: rem(30, $text-size);
  cursor: pointer;

  @include at($max, $desk) {
    &:nth-child(5) {
      margin-right: 0;
    }

    &:nth-child(5)~li {
      display: none;
    }
  }

  @include at($max, $tablet) {
    margin-right: rem(15, $text-size);

    &:nth-child(4) {
      margin-right: 0;
    }

    &:nth-child(5) {
      display: none;
    }
  }

  @include at($max, $phone - 1) {
    &:nth-child(3) {
      margin-right: 0;
    }

    &:nth-child(4) {
      display: none;
    }
  }

  @include at($max, $phone - 1) {
    margin-right: rem(10, $text-size);
  }

  &:last-child { margin-right: 0; }
}

.page-map-carousel__item_active {
  position: relative;
  margin-left: rem(-25, $text-size);
  margin-right: rem(5, $text-size);
  padding: rem(10, $text-size);
  background-image: linear-gradient(90deg, #07eee0 -20%, #df496d 93%);
  border-radius: 50%;

  @include at($max, $tablet) {
    margin-left: rem(-5, $text-size);
    margin-right: rem(9, $text-size);
  }

  @include at($max, $phone - 1) {
    margin-left: 0;
    margin-right: rem(10, $text-size);
    padding: rem(5, $text-size);
  }

  &::after {
    content: "";
    position: absolute;
    top: rem(3, $text-size);
    bottom: rem(3, $text-size);
    left: rem(3, $text-size);
    right: rem(3, $text-size);
    background-color: var(--page-main-bg);
    border-radius: 50%;
  }

  .page-map-carousel__image {
    position: relative;
    z-index: 1;
    width: rem(137, $text-size);
    height: rem(137, $text-size);

    @include at($max, $phone - 1) {
      width: rem(75, $text-size);
      height: rem(75, $text-size);
    }
  }
}

.page-map-carousel__image {
  width: rem(108, $text-size);
  height: rem(108, $text-size);
  object-fit: cover;
  border-radius: 50%;
  transition: width .5s, height .5s;
  
  @include at($max, $phone - 1) {
    width: rem(60, $text-size);
    height: rem(60, $text-size);
  }
}

.page-map-carousel__image_left-position_87 { object-position: 87%; }

.page-map-carousel__item_active {
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

.page-map-carousel__arrow {
  position: absolute;
  top: 26.5%;

  @include at($max, $phone-xl) {
    top: 16.4%;
  }

  &.carousel__arrow_type_prev { left: rem(6, $text-size); }
  &.carousel__arrow_type_next { right: rem(6, $text-size); }
}

.page-map-carousel__controls { 
  @include at($min, $fullhd) {
    margin-left: rem(-34, $text-size);
  }

  @include at($max, $phone-xl) {
    margin-left: rem(23, $text-size);
  }
}

.page-map__image-hotspots {
  margin-bottom: rem(46, $text-size);

  @include at($max, $desk) {
    margin-bottom: rem(35, $text-size);
  }

  @include at($max, $phone-sm) {
    position: relative;
    left: rem(-10, $text-size);
    right: rem(-10, $text-size);
    width: rem(300, $text-size);
  }
}

.page-map__image {
  width: 100%;
  height: calcFluidFontSize(388, 498, 1200, 1920);

  @include at($max, $phone) {
    height: calcFluidFontSize(146, 290, 320, 640);
  }
}

.map__area {
  fill: var(--map-area-color);
  stroke: var(--map-area-color);
}

.map__area_active {
  fill: var(--map-active-area-fill);
  stroke: var(--map-active-area-stroke);
  stroke-width: $map-active-area-stroke-width;
}

.page-map__hotspot_num_1 {
  $left: 132 / 1200 * 100%;

  top: calcFluidFontSize(47, 83, 1200, 1920);
  left: $left;

  @include at($max, $desk) {
    left: $left - 1.5;
  }

  @include at($max, '840px') {
    left: calcFluidFontSize(53, 87, 641, 930);
  }

  @include at($max, $phone) {
    top: initial;
    bottom: calcFluidFontSize(97, 189.5, 320, 640);
  }

  @include at('', $phone-xl + 1, $phone - 1) {
    left: calcFluidFontSize(25.5, 70, 320, 639);
  }

  @include at($max, $phone-xl) {
    left: calcFluidFontSize(25.5, 50, 320, 480);
  }
}

.page-map__hotspot_num_2 {
  $left: 245 / 1200 * 100%;

  top: calcFluidFontSize(60, 103, 1200, 1920);
  left: $left;

  @include at($max, $desk) {
    left: $left - 1;
  }

  @include at($max, '840px') {
    left: calcFluidFontSize(107, 174, 641, 930);
  }

  @include at($max, $phone) {
    top: initial;
    bottom: calcFluidFontSize(88, 180.5, 320, 640);
  }

  @include at('', $phone-xl + 1, $phone - 1) {
    left: calcFluidFontSize(52.5, 120, 320, 639);
  }

  @include at($max, $phone-xl) {
    left: calcFluidFontSize(52.5, 90, 320, 480);
  }
}

.page-map__hotspot_num_3 {
  $left: 572 / 1200 * 100%;

  top: calcFluidFontSize(135, 189.5, 1200, 1920);
  left: $left;

  @include at($max, $desk) {
    left: $left - 1;
  }

  @include at($max, '840px') {
    left: calcFluidFontSize(270, 420, 641, 930);
  }

  @include at($max, $phone) {
    top: initial;
    bottom: calcFluidFontSize(63.5, 127.5, 320, 640);
  }

  @include at('', $phone-xl + 1, $phone - 1) {
    left: calcFluidFontSize(134, 284, 320, 639);
  }

  @include at($max, $phone-xl) {
    left: calcFluidFontSize(134, 205, 320, 480);
  }
}

.page-map__hotspot_num_4 {
  $right: 230 / 1200 * 100%;

  top: calcFluidFontSize(60, 99, 1200, 1920);
  right: $right;

  @include at($max, $desk) {
    right: $right + .5;
  }

  @include at($max, '840px') {
    right: calcFluidFontSize(106, 170, 641, 930);
  }

  @include at($max, $phone) {
    top: initial;
    bottom: calcFluidFontSize(91.5, 184.5, 320, 640);
  }

  @include at('', $phone-xl + 1, $phone - 1) {
    right: calcFluidFontSize(50, 125, 320, 639);
  }

  @include at($max, $phone-xl) {
    right: calcFluidFontSize(50, 88, 320, 480);
  }
}

.page-map__hotspot_num_5 {
  $left: 645 / 1200 * 100%;

  top: calcFluidFontSize(115, 159.5, 1200, 1920);
  left: $left;

  @include at($max, $desk) {
    left: $left - 1;
  }
}

.page-map__hotspot_num_6 {
  $left: 615 / 1200 * 100%;

  top: calcFluidFontSize(205, 289.5, 1200, 1920);
  left: $left;

  @include at($max, $desk) {
    left: $left - 1;
  }
}

.page-map__hotspot_num_7 {
  $left: 500 / 1200 * 100%;

  top: calcFluidFontSize(110, 150, 1200, 1920);
  left: $left;

  @include at($max, $desk) {
    left: $left - 1;
  }
}

.page-map__hotspot_num_8 {
  $left: 300 / 1200 * 100%;

  top: calcFluidFontSize(200, 250, 1200, 1920);
  left: $left;

  @include at($max, $desk) {
    left: $left - 1;
  }
}

.image-hotspots__point {
  @include at('', $tablet + 1, $desk) {
    height: rem(83, $text-size);
    padding: rem(11, $text-size) rem(11.5, $text-size);
    background-size: cover;
  }
}

.image-hotspots__point-image {
  @include at('', $tablet + 1, $desk) {
    width: rem(35, $text-size);
    height: rem(35, $text-size);
  }
}

.page-map__btn_disabled {
  pointer-events: none;
}

/**
 * ----------------------------------------------------------------------------
 *  FOOTER
 * ----------------------------------------------------------------------------
 */

.footer__form {
  @include at($max, $tablet) {
    margin-top: 0 !important;
  }
}