%hamburger-menu-bar {
  height: rem(3, $text-size);
  background-color: var(--nav-item-color);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  width: rem(40, $text-size);
  padding: 0;

  &::before,
  &::after {
    content: "";
    width: 100%;
    margin-bottom: rem(6, $text-size);

    @extend %hamburger-menu-bar;
  }
}

.hamburger-menu__bar {
  width: rem(33, $text-size);
  order: 1;
  align-self: flex-end;

  @extend %hamburger-menu-bar;
}