/**
 * --------------------------------------------------------------------------------
 *  VARIABLES
 * --------------------------------------------------------------------------------
 */
/* COLORS ================================================================================ */
/* TYPOGRAPHY ================================================================================ */
/* VIEWPORT ================================================================================ */
/* TRANSITION ================================================================================ */
/* OTHER ================================================================================ */
/**
 * ----------------------------------------------------------------------------
 *  MIXINS
 * ----------------------------------------------------------------------------
 */
/* BREAKPOINTS ================================================================================ */
/**
 * ----------------------------------------------------------------------------
 *  FUNCTIONS
 * ----------------------------------------------------------------------------
 */
/* PX TO EM ================================================================================ */
/* PX TO REM ================================================================================ */
/* RESPONSIVE FONT SIZE ================================================================================ */
/**
 * --------------------------------------------------------------------------------
 *  FONTS
 * --------------------------------------------------------------------------------
 */
/* ROBOTO ================================================================================ */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/**
 * ----------------------------------------------------------------------------
 *  RESET
 * ----------------------------------------------------------------------------
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

img,
svg,
iframe {
  vertical-align: middle;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}

input,
textarea {
  background-color: transparent;
}

input[type=submit] {
  border: 0;
}

address {
  font-style: normal;
}

/**
 * ----------------------------------------------------------------------------
 *  BASE
 * ----------------------------------------------------------------------------
 */
html {
  font-family: Roboto, sans-serif;
  color: #4f4f4f;
  font-size: 14px;
}

.page {
  overflow-x: hidden;
}

.header,
.main,
.footer {
  min-width: 22.85714rem;
}

.main {
  background-color: #fbfbfb;
}

/**
 * ----------------------------------------------------------------------------
 *  COMMON
 * ----------------------------------------------------------------------------
 */
/* TYPOGRAPHY ================================================================================ */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

/* HIDDEN ================================================================================ */
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

@media screen and (max-width: 320px) {
  .hidden-phone-sm {
    display: none !important;
  }
}

@media screen and (min-width: 321px) {
  .hidden-phone-sm-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .hidden-phone-xl {
    display: none !important;
  }
}

@media screen and (min-width: 481px) {
  .hidden-phone-xl-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  .hidden-phone {
    display: none !important;
  }
}

@media screen and (min-width: 641px) {
  .hidden-phone-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .hidden-tablet-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .hidden-lap {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .hidden-lap-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 1200px) {
  .hidden-desk {
    display: none !important;
  }
}

@media screen and (min-width: 1201px) {
  .hidden-desk-and-up {
    display: none !important;
  }
}

@media screen and (max-width: 1440px) {
  .hidden-wide {
    display: none !important;
  }
}

@media screen and (min-width: 1441px) {
  .hidden-wide-and-up {
    display: none !important;
  }
}

/* WRAP ================================================================================ */
.large-container, .gutter {
  padding-left: 1.42857rem;
  padding-right: 1.42857rem;
}

@media screen and (max-width: 480px) {
  .large-container, .gutter {
    padding-left: 0.71429rem;
    padding-right: 0.71429rem;
  }
}

.wrapper,
.container,
.large-container {
  margin: auto;
}

.wrapper {
  max-width: 115.71429rem;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 64.28571rem;
  }
}

.container {
  max-width: 85.71429rem;
}

.large-container {
  max-width: 95.71429rem;
}

.link, .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.section_highlighted {
  padding-top: 7.14286rem;
  padding-bottom: 7.14286rem;
  background-color: #f2f2f2;
}

/* MARGINS ================================================================================ */
.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

/* TITLES ================================================================================ */
.title {
  font-size: 3.42857rem;
  font-weight: 900;
  line-height: 1.16667em;
  color: #333;
}

.subtitle {
  font-size: 1.42857rem;
  font-weight: 900;
  color: #333;
}

/* BUTTON & LINK ================================================================================ */
.link__icon, .btn__icon {
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

.link__icon_type_play::before, .btn__icon_type_play::before {
  content: "";
  display: block;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}

.link {
  font-size: 0.85714rem;
}

.link__text {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.link__icon {
  width: 2em;
  height: 2em;
  margin-right: 0.16667em;
  align-items: center;
}

.link__icon_type_play::before {
  margin-left: 0.16667em;
  border-width: 0.33333em 0 0.33333em 0.5em;
}

.link__icon_type_usd {
  align-items: flex-end;
}

.link__icon_type_usd::before {
  content: "$";
  color: #fff;
  font-weight: 500;
  font-size: 1.28571rem;
}

.link_accent .link__text {
  color: #4bd8b5;
}

.link_accent .link__icon {
  border-color: #4bd8b5;
}

.link_accent .link__icon::before {
  border-left-color: #4bd8b5;
}

.btn {
  min-width: 13.61111em;
  min-height: 3.05556em;
  padding: 0.63889em 0.83333em;
  font-size: 1.28571rem;
  background-image: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 0.16667em;
  cursor: pointer;
  transition: filter .3s;
}

.btn:hover {
  filter: drop-shadow(15px 16px 10px #333) grayscale(0.6);
}

.btn__text {
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

.btn__icon {
  width: 1.77778em;
  height: 1.77778em;
  margin-right: 0.27778em;
  align-items: center;
}

.btn__icon_type_play::before {
  margin-left: 0.11111em;
  border-width: 0.27778em 0 0.27778em 0.44444em;
}

/* NAV ================================================================================ */
.nav__item {
  font-size: 1.14286rem;
}

.nav__item_active .nav__link {
  cursor: default;
}

.nav_color_dark .nav__link {
  color: #333;
}

.nav_color_light .nav__link {
  color: #fefefe;
}

/* LOGO ================================================================================ */
.logo {
  color: #333;
  font-weight: 900;
  text-transform: lowercase;
}

.logo__text {
  display: block;
  font-size: 2.57143rem;
}

.logo__subtext {
  display: block;
  margin-top: -0.27778em;
  font-size: 1.28571rem;
  letter-spacing: .08em;
}

/* TOGGLE COLOR MODE ================================================================================ */
.toggle-color-mode {
  width: 3.85714rem;
  height: 2.14286rem;
  margin-top: 0.71429rem;
  padding: 0.35714rem 0.42857rem;
  background-color: #f2f2f2;
  border-radius: 13.57143rem;
}

.toggle-color-mode::-webkit-slider-thumb {
  width: 1.42857rem;
  height: 1.42857rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

/* SOCIAL MEDIA ================================================================================ */
.social-media_direction_row .social-media__item {
  margin-right: 1.07143rem;
}

.social-media_direction_column .social-media__item {
  margin-bottom: 1.07143rem;
}

.social-media__link {
  display: block;
  width: 1.42857rem;
  background-size: cover;
  transition: filter .3s;
}

.social-media__link:hover {
  filter: invert(74%) sepia(36%) saturate(611%) hue-rotate(113deg) brightness(300%) contrast(92%);
}

.social-media__instagram {
  height: 1.42857rem;
  background-image: url("../assets/icons/social-media/icon-instagram.svg");
}

.social-media__twitter {
  height: 1.21429rem;
  background-image: url("../assets/icons/social-media/icon-twitter.svg");
}

.social-media__youtube {
  height: 1rem;
  background-image: url("../assets/icons/social-media/icon-youtube.svg");
}

.social-media__vk {
  height: 0.85714rem;
  background-image: url("../assets/icons/social-media/icon-vk.svg");
}

/* SLIDER ================================================================================ */
.slider {
  -webkit-appearance: none;
  appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* CAROUSEL ================================================================================ */
.carousel__card {
  position: relative;
  cursor: pointer;
}

.carousel__card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.carousel__card_hovered:hover::before,
.carousel__card_active::before,
.carousel__card_hovered:hover .carousel__info,
.carousel__card_active .carousel__info {
  visibility: visible;
  opacity: 1;
}

.carousel__info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
}

.carousel-info {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 1.42857rem 1.57143rem 0;
}

.carousel-info__link_first {
  margin-right: 1em;
}

.carousel__text {
  max-width: 13.21429em;
  font-size: 1rem;
  line-height: 1.14286em;
  color: #fff;
}

.carousel__arrow {
  width: 1.28571rem;
  height: 2.14286rem;
  background-image: url("../assets/icons/icon-chevron-right.svg");
  cursor: pointer;
}

.carousel__arrow_invert_top {
  transform: rotate(-90deg);
}

.carousel__arrow_invert_bottom {
  transform: rotate(90deg);
}

.carousel__arrow_invert_left {
  transform: scale(-1, 1);
}

.carousel__arrow_disabled {
  filter: invert(55%) sepia(15%) saturate(8%) hue-rotate(8deg) brightness(91%) contrast(92%);
}

.carousel__fraction {
  margin-bottom: 0.57143rem;
}

.carousel-fraction {
  text-align: center;
}

.carousel-fraction__current {
  font-weight: 900;
  font-size: 1.71429rem;
  line-height: 1.16667em;
}

.carousel-fraction__current::after {
  content: "/";
}

.carousel-fraction__current_color_light {
  color: #fefefe;
}

.carousel-fraction__current_color_dark {
  color: #333;
}

.carousel-fraction__total {
  margin-left: -0.21429em;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.14286em;
  color: #828282;
}

.carousel__range {
  width: var(--length, 245px);
  height: 0.35714rem;
  background-color: rgba(189, 189, 189, 0.57);
}

.carousel__range::-webkit-slider-thumb {
  width: calc(var(--length, 245px) / var(--max));
  height: 0.71429rem;
  margin-top: -0.07143rem;
}

.carousel__range_color_light::-webkit-slider-thumb {
  background-color: #fefefe;
}

.carousel__range_color_dark::-webkit-slider-thumb {
  background-color: #333;
}

/* IMAGE HOTSPOTS ================================================================================ */
.image-hotspots {
  position: relative;
}

.image-hotspots__item {
  position: absolute;
}

.image-hotspots__point {
  height: 6.78571rem;
  padding: 0.89286rem 0.85714rem;
  background-image: url("../assets/icons/map/icon-map-marker.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
}

.image-hotspots__item_active .image-hotspots__point,
.image-hotspots__item:hover .image-hotspots__point {
  background-image: url("../assets/icons/map/icon-map-marker-active.svg");
}

.image-hotspots__point-image {
  width: 3.07143rem;
  height: 3.07143rem;
  border-radius: 50%;
}

.tooltip {
  position: absolute;
  top: 5.42857rem;
  display: flex;
  width: 31.14286rem;
  min-height: 10.35714rem;
  padding: 2.85714rem 3.14286rem;
  align-items: flex-start;
  background-color: #fefefe;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.image-hotspots__item:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip_side_left {
  right: 50%;
}

.tooltip_side_right {
  left: 50%;
}

.tooltip__tooltip-image {
  flex-shrink: 0;
  margin-right: 1.42857rem;
  border-radius: 50%;
}

.tooltip__title {
  display: block;
  margin-bottom: 0.57143rem;
  color: #333;
  font-weight: 900;
  font-size: 1.28571rem;
}

.tooltip__info {
  display: flex;
  margin-bottom: 0.35714rem;
}

.tooltip__subtitle {
  margin-right: 0.35714rem;
  color: #333;
  font-weight: 500;
  line-height: 1.14286rem;
}

/**
 * ----------------------------------------------------------------------------
 *  HEADER
 * ----------------------------------------------------------------------------
 */
.header {
  position: relative;
  padding: 0 1.42857rem;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 0.71429rem;
  }
}

.header__wrapper {
  padding: 1.07143rem 0 1.64286rem;
}

@media screen and (max-width: 640px) {
  .header__logo {
    margin-right: auto;
  }
}

.header__nav {
  margin: 1.42857rem 3.57143rem 0;
}

.header-nav {
  flex: 1;
}

.header-nav__list {
  padding-left: 0.35714rem;
  justify-content: center;
}

.header-nav__item {
  margin-right: 5em;
  padding: 0 0.3125em 0 0.0625em;
  border-bottom: 1px solid transparent;
  transition: font-weight 0.3s, border-color 0.3s;
}

@media screen and (max-width: 1200px) {
  .header-nav__item {
    margin-right: 11.35%;
  }
}

@media screen and (max-width: 768px) {
  .header-nav__item {
    margin-right: 1.78571rem;
  }
}

.header-nav__item_active,
.header-nav__item:hover {
  font-weight: 900;
  border-bottom-color: #333;
}

.header-nav__item_active .nav__link {
  cursor: auto;
}

@media screen and (max-width: 640px) {
  .header__hamburger-menu {
    margin-top: 0.64286rem;
    margin-left: 2.42857rem;
  }
}

@media screen and (max-width: 320px) {
  .header__hamburger-menu {
    margin-left: 1.71429rem;
  }
}

/**
 * ----------------------------------------------------------------------------
 *  MAIN
 * ----------------------------------------------------------------------------
 */
.page-map__main {
  padding: 4.28571rem 0 7.14286rem;
}

.page-map__title {
  margin-bottom: 1.57143rem;
}

.page-map__text {
  max-width: 56.42857rem;
  margin: 0 auto 3.71429rem;
  line-height: 1.14286em;
}

.page-map__carousel {
  margin-bottom: 5.5rem;
  position: relative;
}

.page-map-carousel__container {
  max-width: 76.64286rem;
  margin: 0 auto 2.28571rem;
}

.page-map-carousel__item {
  margin-right: 2.14286rem;
  cursor: pointer;
}

.page-map-carousel__image {
  width: 7.71429rem;
  height: 7.71429rem;
  object-fit: cover;
  border-radius: 50%;
  transition: width .3s, height .3s;
}

.page-map-carousel__image_left-position_87 {
  object-position: 87%;
}

.page-map-carousel__item_active {
  position: relative;
  margin-left: -1.78571rem;
  margin-right: 0.35714rem;
  padding: 0.71429rem;
  background-image: linear-gradient(90deg, #07eee0 -20%, #df496d 93%);
  border-radius: 50%;
}

.page-map-carousel__item_active::after {
  content: "";
  position: absolute;
  top: 0.21429rem;
  bottom: 0.21429rem;
  left: 0.21429rem;
  right: 0.21429rem;
  background-color: #fbfbfb;
  border-radius: 50%;
}

.page-map-carousel__item_active .page-map-carousel__image {
  position: relative;
  z-index: 1;
  width: 9.78571rem;
  height: 9.78571rem;
}

.page-map-carousel__item_active:first-child {
  margin-left: 0;
}

.page-map-carousel__item_active:last-child {
  margin-right: 0;
}

.page-map-carousel__arrow {
  position: absolute;
  top: 26.5%;
}

.page-map-carousel__arrow.carousel__arrow_type_prev {
  left: 0.42857rem;
}

.page-map-carousel__arrow.carousel__arrow_type_next {
  right: 0.42857rem;
}

.page-map-carousel__controls {
  margin-left: -2.42857rem;
}

.page-map__image-hotspots {
  margin-bottom: 3.28571rem;
}

.page-map__hotspot_num_1 {
  top: 16.66667%;
  left: 11%;
}

.page-map__hotspot_num_2 {
  top: 20.68273%;
  left: 20.25%;
}

.page-map__hotspot_num_3 {
  top: 38.15261%;
  left: 47.66667%;
}

.page-map__hotspot_num_4 {
  top: 19.87952%;
  right: 19.16667%;
}

/**
 * ----------------------------------------------------------------------------
 *  FOOTER
 * ----------------------------------------------------------------------------
 */
.footer {
  padding: 7.14286rem 1.42857rem 5.14286rem;
  background-color: #333;
  color: #fefefe;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 6.85714rem;
    padding-bottom: 3.39286rem;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 3.57143rem 0.71429rem 1.92857rem;
  }
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 4rem 10rem;
  margin-bottom: 4.21429rem;
}

@media screen and (max-width: 1200px) {
  .footer__content {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 42.55556% 1fr;
    grid-gap: 2.85714rem 5.42857rem;
    margin-bottom: 4.57143rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    grid-template-columns: 1fr auto;
    grid-gap: 1.42857rem;
    margin-bottom: 4.85714rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__content {
    grid-column-gap: 0;
    margin-bottom: 5.64286rem;
  }
}

.footer__logo {
  margin-top: -0.71429rem;
  max-width: max-content;
  color: inherit;
}

.footer__btn {
  min-width: 19.64286rem;
}

.footer__btn:hover {
  filter: drop-shadow(15px 16px 10px #4f4f4f) grayscale(0.6);
}

@media screen and (max-width: 1200px) {
  .footer__btn {
    grid-row-start: 3;
    grid-column-start: 2;
    align-self: flex-start;
    justify-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .footer__btn {
    grid-row-start: 1;
    align-self: flex-end;
  }
}

@media screen and (max-width: 480px) {
  .footer__btn {
    grid-row-start: 5;
    grid-column: 1/3;
    margin-top: 1.85714rem;
  }
}

.footer-nav {
  align-self: center;
}

@media screen and (max-width: 1200px) {
  .footer__nav {
    margin-top: 1.35714rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__nav {
    grid-column: 1/3;
    grid-row-start: 2;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .footer__nav {
    margin-top: 1.42857rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-nav__item {
  margin-right: 4.5625em;
  font-weight: 500;
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
  .footer-nav__item {
    margin-right: 3em;
  }
}

@media screen and (max-width: 1200px) {
  .footer-nav__item {
    margin-right: 16.555%;
  }
}

@media screen and (max-width: 768px) {
  .footer-nav__item {
    margin-right: 0;
    margin-bottom: 0.3125em;
  }
}

.footer-nav .nav__link {
  color: inherit;
  transition: color .3s;
}

.footer-nav .nav__link:hover {
  color: #4bd8b5;
}

.footer__form {
  width: 100%;
  max-width: 27.35714rem;
}

@media screen and (max-width: 1200px) {
  .footer__form {
    grid-row: 2/4;
    margin-top: 1.85714rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__form {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

@media screen and (max-width: 768px) {
  .footer__form {
    margin-top: 0.35714rem;
  }
}

.footer__subtitle {
  margin-bottom: 1.85714rem;
  color: inherit;
}

@media screen and (max-width: 1200px) {
  .footer__subtitle {
    margin-bottom: 2rem;
  }
}

.footer__field {
  width: 100%;
  margin-bottom: 0.92857rem;
  padding: 0.57143rem 0;
  border-width: 0 0 1px;
  border-color: #bdbdbd;
  color: #e0e0e0;
}

.footer__field::placeholder {
  color: #e0e0e0;
}

.footer__field_last {
  margin-bottom: 1.57143rem;
}

.footer__message {
  margin: 0 0 1.85714rem;
  border: 0.07143rem solid #bdbdbd;
  border-radius: 0.21429rem;
  color: #bdbdbd;
}

@media screen and (max-width: 1200px) {
  .footer__message {
    margin-bottom: 1.5rem;
  }
}

.footer__message-legend {
  padding-left: 0.25em;
  padding-right: 0.41667em;
  font-size: 0.85714rem;
}

.footer__message-field {
  width: 100%;
  padding: 0.35714rem;
  resize: none;
  border: 0;
  color: #e0e0e0;
}

.footer__agree {
  display: inline-flex;
  margin-left: 0.14286rem;
  margin-bottom: 1.42857rem;
  align-items: center;
  color: #bdbdbd;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .footer__agree {
    margin-left: 0;
  }
}

.footer__agree-field {
  -webkit-appearance: none;
  appearance: none;
  width: 0.92857rem;
  height: 0.92857rem;
  margin-right: 0.42857rem;
  border: 0.07143rem solid #bdbdbd;
  border-radius: 0.07143rem;
  cursor: pointer;
}

.footer__agree-field:checked {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMzczIDEwMjQiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0zNTMgNzE1TDE4MiA1NDJsOTQtOTQgMjU3IDI1OCA1NjQtNTcwIDk0IDk1LTMyNSAzMjhDNjg3IDc0MCA1MzcgODg4IDUzMiA4ODhzLTg1LTc4LTE3OS0xNzN6Ii8+PC9zdmc+");
  background-position: 50%;
}

.footer__agree-text {
  font-size: 0.85714rem;
}

.footer__form-submit {
  display: inline-flex;
  margin-right: 1rem;
  padding: 0;
  align-items: center;
  text-transform: uppercase;
  color: inherit;
  line-height: 1;
  cursor: pointer;
  background: url("../assets/icons/icon-chevron-right-light.svg") no-repeat right center;
}

@media screen and (max-width: 1200px) {
  .footer__form-submit {
    margin-right: 1.14286rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__form-submit {
    margin-right: 0;
  }
}

.footer__form-submit::after {
  content: "";
  width: 3.35714rem;
  height: 0.07143rem;
  margin-left: 1.71429rem;
  margin-right: 0.07143rem;
  background-color: #fefefe;
  transition: width .3s;
}

.footer__form-submit:hover::after {
  width: 5.35714rem;
}

@media screen and (max-width: 1200px) {
  .footer__contacts {
    margin-top: 0.92857rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__contacts {
    grid-column: 1/3;
    margin-top: 4.28571rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__contacts {
    margin-top: 2.5rem;
  }
}

.footer-contacts__title {
  margin-bottom: 2.5rem;
}

.footer-contacts__address {
  margin-bottom: 1.42857rem;
}

.footer-contacts__link {
  color: inherit;
  transition: color .3s;
}

.footer-contacts__link:hover {
  color: #4bd8b5;
}

.footer-contacts__info {
  margin-bottom: 0.35714rem;
}

.footer-contacts__info_indented {
  margin-bottom: 1.42857rem;
}

.footer__social-media .social-media__item_type_youtube {
  order: 1;
}

.footer__hr {
  width: 100%;
  margin: 2.14286rem 0;
  border-width: .5px 0 0;
  border-color: inherit;
}

@media screen and (max-width: 1200px) {
  .footer__hr {
    margin: 2.28571rem 0;
  }
}

@media screen and (max-width: 480px) {
  .footer__hr {
    position: relative;
    right: -10px;
    left: 0;
    width: calc(100% + 10px);
  }
}

.footer__copyrights-text {
  display: block;
  margin-bottom: 0.35714rem;
  color: #bdbdbd;
  font-size: 0.85714rem;
}

.footer__copyrights-text:last-child {
  margin-bottom: 0;
}
