@import "variables";
@import "mixins";
@import "fonts";

/**
 * ----------------------------------------------------------------------------
 *  RESET
 * ----------------------------------------------------------------------------
 */

* { box-sizing: border-box; }
body { margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child { margin-top: 0; }
}

p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

img,
svg,
iframe {
  vertical-align: middle;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a { text-decoration: none; }

button {
  border: 0;
  background-color: transparent;
}

input,
textarea {
  background-color: transparent;
}

input[type=submit] { border: 0; } 

address { font-style: normal; }

/**
 * ----------------------------------------------------------------------------
 *  BASE
 * ----------------------------------------------------------------------------
 */

html {
  font-family: $font-main;
  color: $text-color;
  font-size: $default-text-font-size;
}

.page { overflow-x: hidden; }

.header,
.main,
.footer {
  min-width: rem(320, $text-size);
}

.header {
  position: relative;
  box-shadow: 0px 4px 8px rgba(44,101,77,.08);
}
.main { background-color: #fbfbfb; }

/**
 * ----------------------------------------------------------------------------
 *  COMMON
 * ----------------------------------------------------------------------------
 */

/* TYPOGRAPHY ================================================================================ */

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }

/* HIDDEN ================================================================================ */

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

@include at($max, $phone - 1) {
  .hidden-phone { display: $hidden; }
}

@include at($min, $phone) {
  .hidden-phone-and-up { display: $hidden; }
}

@include at($max, $tablet - 1) {
  .hidden-tablet { display: $hidden; }
}

@include at($min, $tablet) {
  .hidden-tablet-and-up { display: $hidden; }
}

@include at($max, $lap - 1) {
  .hidden-lap { display: $hidden; }
}

@include at($min, $lap) {
  .hidden-lap-and-up { display: $hidden; }
}

@include at($max, $desk - 1) {
  .hidden-desk { display: $hidden; }
}

@include at($min, $desk) {
  .hidden-desk-and-up { display: $hidden; }
}

@include at($max, $widescreen - 1) {
  .hidden-wide { display: $hidden; }
}

@include at($min, $widescreen) {
  .hidden-wide-and-up { display: $hidden; }
}

/* WRAP ================================================================================ */

.wrapper,
.container,
.large-container {
  margin: auto;
}

.wrapper { max-width: rem($wrapper, $text-size); }
.container { max-width: rem($container, $text-size); }
.large-container { max-width: rem($large-container, $text-size); }

%inline-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.section_highlighted {
  padding-top: rem(100, $text-size);
  padding-bottom: rem(100, $text-size);
  background-color: $content-primary-bg;
}

/* MARGINS ================================================================================ */

.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }

/* TITLES ================================================================================ */

.title {
  font-size: rem($title-font-size, $text-size);
  font-weight: 900;
  line-height: em(56, 48);
  color: $title-color;
}

.subtitle {
  font-size: rem($subtitle-font-size, $text-size);
  font-weight: 900;
  color: $subtitle-color;
}

/* BUTTON & LINK ================================================================================ */

%link-or-btn__icon {
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

%link-or-btn__icon_type_play {
  content: "";
  display: block;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}

.link {
  @extend %inline-box;
  font-size: rem($link-font-size, $text-size);
}

.link__text {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.link__icon {
  @extend %link-or-btn__icon;

  width: em(24, $link-font-size);
  height: em(24, $link-font-size);
  margin-right: em(2, $link-font-size);
  align-items: center;
}

.link__icon_type_play::before {
  @extend %link-or-btn__icon_type_play;
  margin-left: em(2, $link-font-size);
  border-width: em(4, $link-font-size) 0 em(4, $link-font-size) em(6, $link-font-size);
}

.link__icon_type_usd {
  align-items: flex-end;
  
  &::before {
    content: "$";
    color: #fff;
    font-weight: 500;
    font-size: rem(18, $text-size);
  }
}

.link_accent {
  .link__text { color: $accent-color; }
  .link__icon {
    border-color: $accent-color;

    &::before { border-left-color: $accent-color; }
  }
}

.btn {
  @extend %inline-box;

  min-width: em(245, $btn-font-size);
  min-height: em(55, $btn-font-size);
  padding: em(11.5, $btn-font-size) em(15, $btn-font-size);
  font-size: rem($btn-font-size, $text-size);
  background-image: $btn-bg;
  border-radius: em(3, $btn-font-size);
  cursor: pointer;
  transition: filter .3s;

  &:hover {
    filter: drop-shadow(15px 16px 10px #333) grayscale(.6);
  }
}

.btn__text {
  font-weight: 900;
  text-transform: uppercase;
  color: $btn-color;
}

.btn__icon {
  @extend %link-or-btn__icon;

  width: em(32, $btn-font-size);
  height: em(32, $btn-font-size);
  margin-right: em(5, $btn-font-size);
  align-items: center;
}

.btn__icon_type_play::before {
  @extend %link-or-btn__icon_type_play;
  margin-left: em(2, $btn-font-size);
  border-width: em(5, $btn-font-size) 0 em(5, $btn-font-size) em(8, $btn-font-size);
}

/* NAV ================================================================================ */

.nav__item { font-size: rem($nav-item-font-size, $text-size); }
.nav__item_active .nav__link { cursor: default; }
.nav_color_dark .nav__link { color: $nav-item-color-dark; }
.nav_color_light .nav__link { color: $nav-item-color-light; }

/* LOGO ================================================================================ */

.logo {
  color: $title-color;
  font-weight: 900;
  text-transform: lowercase;
}

.logo__text {
  display: block;
  font-size: rem(36, $text-size);  
}

.logo__subtext {
  display: block;
  margin-top: em(-5, 18);
  font-size: rem(18, $text-size);
  letter-spacing: .08em;
}

/* TOGGLE COLOR MODE ================================================================================ */

.toggle-color-mode {
  width: rem(54, $text-size);
  height: rem(30, $text-size);
  margin-top: rem(10, $text-size);
  padding: rem(5, $text-size) rem(6, $text-size);
  background-color: #f2f2f2;
  border-radius: rem(190, $text-size);

  &::-webkit-slider-thumb {
    width: rem(20, $text-size);
    height: rem(20, $text-size);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 4px 15px rgba(6,12,70,.15);
  }
}

/* SOCIAL MEDIA ================================================================================ */

.social-media_direction_row .social-media__item { margin-right: rem(15, $text-size); }
.social-media_direction_column .social-media__item { margin-bottom: rem(15, $text-size); }

.social-media__link {
  display: block;
  width: rem(20, $text-size);
  background-size: cover;
  transition: filter .3s;

  &:hover { filter: invert(74%) sepia(36%) saturate(611%) hue-rotate(113deg) brightness(300%) contrast(92%); }
}

.social-media__instagram {
  height: rem(20, $text-size);
  background-image: url("../../../assets/icons/social-media/icon-instagram.svg");
}

.social-media__twitter {
  height: rem(17, $text-size);
  background-image: url("../../../assets/icons/social-media/icon-twitter.svg");
}

.social-media__youtube {
  height: rem(14, $text-size);
  background-image: url("../../../assets/icons/social-media/icon-youtube.svg");
}

.social-media__vk {
  height: rem(12, $text-size);
  background-image: url("../../../assets/icons/social-media/icon-vk.svg");
}

/* SLIDER ================================================================================ */

.slider {
  -webkit-appearance: none;
          appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    cursor: pointer;
  }
}

/* CAROUSEL ================================================================================ */

.carousel__card {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
  } 
}

.carousel__card_hovered:hover::before,
.carousel__card_active::before,
.carousel__card_hovered:hover .carousel__info,
.carousel__card_active .carousel__info {
  visibility: visible;
  opacity: 1;
}

// INFO

.carousel__info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
}

.carousel-info {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: rem(20, $text-size) rem(22, $text-size) 0;
}

.carousel-info__link_first { margin-right: em(12, $link-font-size); }

.carousel__text {
  max-width: em(185, 14);
  font-size: rem(14, $text-size);
  line-height: em(16, 14);
  color: #fff;
}

// ARROW

.carousel__arrow {
  width: rem(18, $text-size);
  height: rem(30, $text-size);
  background-image: url("../../../assets/icons/icon-chevron-right.svg");
  cursor: pointer;
}

.carousel__arrow_invert_top { transform: rotate(-90deg); }
.carousel__arrow_invert_bottom { transform: rotate(90deg); }
.carousel__arrow_invert_left { transform: scale(-1, 1); }
.carousel__arrow_disabled { filter: invert(55%) sepia(15%) saturate(8%) hue-rotate(8deg) brightness(91%) contrast(92%); }

// FRACTION

.carousel__fraction { margin-bottom: rem(8, $text-size); }
.carousel-fraction { text-align: center; }

.carousel-fraction__current {
  font-weight: 900;
  font-size: rem(24, $text-size);
  line-height: em(28, 24);

  &::after { content: "/"; }
}

.carousel-fraction__current_color_light { color: #fefefe; }
.carousel-fraction__current_color_dark { color: #333; }

.carousel-fraction__total {
  margin-left: em(-3, 14);
  font-weight: 900;
  font-size: rem(14, $text-size);
  line-height: em(16, 14);
  color: $slider-total-number;
}

// RANGE

.carousel__range {
  width: rem(245, $text-size);
  height: rem(5, $text-size);
  background-color: rgba(189,189,189,.57);

  &::-webkit-slider-thumb {
    width: calc(245px / var(--max));
    height: rem(10, $text-size);
    margin-top: rem(-1, $text-size);
  }
}

.carousel__range_color_light::-webkit-slider-thumb { background-color: #fefefe; }
.carousel__range_color_dark::-webkit-slider-thumb { background-color: #333; }

/**
 * ----------------------------------------------------------------------------
 *  HEADER
 * ----------------------------------------------------------------------------
 */

.header__wrapper { padding : rem(15, $text-size) 0 rem(23, $text-size); }
.header__nav { margin: rem(20, $text-size) rem(20, $text-size) 0; }
.header-nav { flex: 1; }
.header-nav__list { justify-content: center; }

.header-nav__item {
  margin-right: em(80, $nav-item-font-size);
  padding: 0 em(5, $nav-item-font-size) 0 em(1, $nav-item-font-size);
  border-bottom: 1px solid transparent;
  transition: font-weight $trans-duration, border-color $trans-duration;
}

.header-nav__item_active,
.header-nav__item:hover {
  font-weight: 900;
  border-bottom-color: $nav-item-color-dark;
}

.header-nav__item_active .nav__link { cursor: auto; }

/**
 * ----------------------------------------------------------------------------
 *  MAIN
 * ----------------------------------------------------------------------------
 */

.page-zoo__main {
  display: flex;
  padding: rem(60, $text-size) rem(157, $text-size) rem(100, $text-size) 0;
  align-items: flex-start;
}

// FIXED CAROUSEL

.page-zoo__carousel {
  position: sticky;
  top: rem(60, $text-size);
  left: rem(26, $text-size);

  @include at ($min, '1920px') {
    left: calc((100vw - 1920px) / 2 + 26px);
  }
}

.page-zoo-carousel {
  width: rem(157, $text-size);
}

.page-zoo-carousel__container {
  height: rem(511, $text-size);
  margin: rem(44, $text-size) 0;
  align-items: center;
  overflow: hidden;
}

.page-zoo-carousel__item {
  margin-bottom: rem(10, $text-size);
  cursor: pointer;
}

.page-zoo-carousel__image {
  width: rem(108, $text-size);
  height: rem(108, $text-size);
  object-fit: cover;
  border-radius: 50%;
  transition: width .3s, height .3s;
}

.page-zoo-carousel__image_left-position_87 { object-position: 87%; }
.page-zoo-carousel__image_left-position_100 { object-position: 100%; }

.page-zoo-carousel__item_active {
  position: relative;
  padding: rem(10, $text-size);
  background-image: linear-gradient(90deg, #07eee0 -20%, #df496d 93%);
  border-radius: 50%;
  cursor: auto;

  &::after {
    content: "";
    position: absolute;
    top: rem(3, $text-size);
    bottom: rem(3, $text-size);
    left: rem(3, $text-size);
    right: rem(3, $text-size);
    background-color: #fbfbfb;
    border-radius: 50%;
  }

  .page-zoo-carousel__image {
    position: relative;
    z-index: 1;
    width: rem(137, $text-size);
    height: rem(137, $text-size);
  }
}

.page-zoo-carousel__arrow {
  position: absolute;
  left: 45%;
  width: rem(15, $text-size);
  height: rem(23, $text-size);
  background-size: contain;
  background-repeat: no-repeat;

  &.carousel__arrow_type_prev { top: rem(0, $text-size); }
  &.carousel__arrow_type_next { bottom: rem(0, $text-size); }
}

.page-zoo-carousel__item_active a {
  cursor: auto;
}

// CONTENT

.page-zoo__title { margin-bottom: rem(40, $text-size); }

.page-zoo__content {
  align-items: flex-start;
}

.page-zoo__videos {
  max-width: rem(790, $text-size);
  margin-right: rem(30, $text-size);
}

.page-zoo__main-video {
  width: 100%;
  height: rem(442, $text-size);
  margin-bottom: rem(30, $text-size);
  border-radius: rem(5, $text-size);
}

.page-zoo__thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: rem(26, $text-size);
  margin-bottom: rem(30, $text-size);
}

.page-zoo__thumbnail {
  width: 100%;
  height: rem(141, $text-size);
  object-fit: cover;
  border-radius: rem(5, $text-size);
}

.page-zoo__dots {
  justify-content: center;
}

.page-zoo__dot {
  width: rem(8, $text-size);
  height: rem(8, $text-size);
  margin-right: rem(5, $text-size);
  background-color: #c4c4c4;
  border-radius: 50%;
  cursor: pointer;
}

.page-zoo__dot_active {
  width: rem(11, $text-size);
  height: rem(11, $text-size);
  background-image: $accent-gradient;
}

.page-zoo__description {
  max-width: rem(380, $text-size);
  margin-bottom: rem(35, $text-size);
}

.page-zoo__subtitle {
  margin-top: 0;
  margin-bottom: rem(6, $text-size);
}

.page-zoo__text {
  line-height: rem(16, 14);
  margin-bottom: rem(13, $text-size);
}

.page-zoo__text_last {
  margin-right: rem(20, $text-size);
}

.page-zoo__btn {
  min-width: rem(194, $text-size);
}

/**
 * ----------------------------------------------------------------------------
 *  FOOTER
 * ----------------------------------------------------------------------------
 */

.footer {
  padding: rem(100, $text-size) 0 rem(72, $text-size);
  background-color: $content-secondary-bg;
  color: #fefefe;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: rem(56, $text-size) rem(140, $text-size);
  margin-bottom: rem(59, $text-size);
}

.footer__logo {
  position: relative;
  top: rem(-10, $text-size);
  max-width: max-content;
  color: inherit;
}

.footer__btn {
  min-width: rem(275, $text-size);
  &:hover { filter: drop-shadow(15px 16px 10px #4f4f4f) grayscale(.6); }
}

// NAV

.footer-nav { align-self: center; }

.footer-nav__item {
  margin-right: em(73, $nav-item-font-size);
  font-weight: 500;
}

.footer-nav .nav__link {
  color: inherit;
  transition: color .3s;

  &:hover { color: $accent-color; }
}

// FORM

.footer__form { max-width: rem(383, $text-size); }

.footer__subtitle {
  margin-bottom: rem(26, $text-size);
  color: inherit;
}

.footer__field {
  width: 100%;
  margin-bottom: rem(13, $text-size);
  padding: rem(8, $text-size) 0;
  border-width: 0 0 1px;
  border-color: #bdbdbd;
  color: #e0e0e0;
  
  &::placeholder { color: #e0e0e0; }
}

.footer__field_last { margin-bottom: rem(22, $text-size); }

.footer__message {
  margin: 0 0 rem(26, $text-size);
  border: rem(1, $text-size) solid #bdbdbd;
  border-radius: rem(3, $text-size);
  color: $text-secondary-color;
}

.footer__message-legend {
  padding-left: em(3, 12);
  padding-right: em(5, 12);
  font-size: rem(12, $text-size);
}

.footer__message-field {
  width: 100%;
  padding: rem(5, $text-size);
  resize: none;
  border: 0;
  color: #e0e0e0;
}

.footer__agree {
  display: inline-flex;
  margin-left: rem(2, $text-size);
  margin-bottom: rem(20, $text-size);
  align-items: center;
  color: $text-secondary-color;
  cursor: pointer;
}

.footer__agree-field {
  -webkit-appearance: none;
          appearance: none;
  width: rem(13, $text-size);
  height: rem(13, $text-size);
  margin-right: rem(6, $text-size);
  border: rem(1, $text-size) solid #bdbdbd;
  border-radius: rem(1, $text-size);
  cursor: pointer;

  &:checked {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMzczIDEwMjQiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0zNTMgNzE1TDE4MiA1NDJsOTQtOTQgMjU3IDI1OCA1NjQtNTcwIDk0IDk1LTMyNSAzMjhDNjg3IDc0MCA1MzcgODg4IDUzMiA4ODhzLTg1LTc4LTE3OS0xNzN6Ii8+PC9zdmc+");
    background-position: 50%;
  }
}

.footer__agree-text { font-size: rem(12, $text-size); }

.footer__form-submit {
  display: inline-flex;
  margin-right: rem(14, $text-size);
  padding: 0;
  align-items: center;
  text-transform: uppercase;
  color: inherit;
  line-height: 1;
  cursor: pointer;
  background: url("../../../assets/icons/icon-chevron-right-light.svg") no-repeat right center;

  &::after {
    content: "";
    width: rem(47, $text-size);
    height: rem(1, $text-size);
    margin-left: rem(24, $text-size);
    margin-right: rem(1, $text-size);
    background-color: #fefefe;
    transition: width .3s;
  }

  &:hover::after { width: rem(75, $text-size); }
}

// CONTACTS

.footer-contacts__title { margin-bottom: rem(35, $text-size); }
.footer-contacts__address { margin-bottom: rem(20, $text-size); }

.footer-contacts__link {
  color: inherit;
  transition: color .3s;

  &:hover { color: $accent-color; }
}

.footer-contacts__info { margin-bottom: rem(5, $text-size); }
.footer-contacts__info_indented { margin-bottom: rem(20, $text-size); }
.footer__social-media .social-media__item_type_youtube { order: 1; }

// COPYRIGHTS

.footer__hr {
  width: 100%;
  margin: rem(30, $text-size) 0;
  border-width: .5px 0 0;
  border-color: inherit;
}

.footer__copyrights-text {
  display: block;
  margin-bottom: rem(5, $text-size);
  color: $text-secondary-color;
  font-size: rem(12, $text-size);

  &:last-child { margin-bottom: 0; }
}