/**
 * --------------------------------------------------------------------------------
 *  VARIABLES
 * --------------------------------------------------------------------------------
 */

/* COLORS ================================================================================ */

$text-color-dark: #4f4f4f;
$text-color-light: #f2f2f2;

$text-secondary-color: #bdbdbd;

$accent-color: #4bd8b5;
$accent-gradient: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
$border-accent: linear-gradient(103.3deg, #07EEE0 -15.1%, #DF496D 92.15%);

$title-color-dark: #333;
$title-color-light: #fefefe;

$subtitle-color-light: #fefefe;
$subtitle-color-dark: #333;

$subtitle-secondary-color: #828282;

$btn-color: #fff;
$btn-bg: $accent-gradient;
//$btn-bg-hover: ;
//$btn-bg-pressed: ;

//$link-color: ;
//$link-hover: ;
//$link-pressed: ;

$nav-item-color-dark: #333;
$nav-item-color-light: #fefefe;

$page-main-bg-light: #fbfbfb;
$page-main-bg-dark: #4f4f4f;

$main-primary-bg-light: #fbfbfb;
$main-primary-bg-dark: #333;

$content-primary-bg-light: #f2f2f2;
$content-primary-bg-dark: #4f4f4f;

$content-secondary-bg: #333;

$toggle-color-mode-bg-light: #f2f2f2;
$toggle-color-mode-bg-dark: #4f4f4f;
$toggle-color-mode-thumb-light: #fff;
$toggle-color-mode-thumb-dark: #1b1b1b;

$arrow-color-light: #fefefe;
$arrow-color-dark: #333;
$arrow-color-disable: #828282;

$dots-color: #c4c4c4;
$dots-color-active: $accent-gradient;

$slider-thumb-bg-light: #fefefe;
$slider-thumb-bg-dark: #333;
$slider-number-color-light: #fefefe;
$slider-number-color-dark: #333;
$slider-total-number: #828282;

$tooltip-bg-light: #fefefe;
$tooltip-bg-dark: #333;

$testimonials-card-bg-light: #fefefe;
$testimonials-card-bg-dark: #3c3c3c;

$map-marker-color: #EB5757;
$map-area-color-light: #e1e1e1;
$map-area-color-dark: #333;
$map-active-area-fill-light: #dadada;
$map-active-area-fill-dark: #333;
$map-active-area-stroke-light: #fefefe;
$map-active-area-stroke-dark: #333;

/* TYPOGRAPHY ================================================================================ */

$font-main: Roboto, sans-serif;

$text-size: 14;
$default-text-font-size: $text-size + px;

$title-font-size: 48;
$title-secondary-font-size: 24;
$subtitle-font-size: 20;
$text-font-size: 14;

$link-font-size: 12;
$btn-font-size: 18;

$field-font-size: 14;
$nav-item-font-size: 16;
$map-active-area-stroke-width: 2;

/* VIEWPORT ================================================================================ */

$wrapper_large: 1920;
$wrapper: 1620;
$wrapper_desk: 900;
$container: 1200;
$container_desk: 900;
$large-container: 1300;

$desktop-container-gutter: 20;
$mobile-container-gutter : 10;

$min: min-width;
$max: max-width;

$phone-sm:    320px;
$phone-md:    375px;
$phone-lg:    425px;
$phone-xl:    480px;
$phone:       640px;
$tablet:      768px;
$lap:         1024px;
$desk:        1200px;
$widescreen:  1440px;
$fullhd:      1920px;

/* TRANSITION ================================================================================ */

$trans-duration: .3s;
$trans-color: color $trans-duration;
$trans-fill: fill $trans-duration;
$trans-bg: background-color $trans-duration;
$trans-box: background-color $trans-duration, color $trans-duration;
$trans-border-box: background-color $trans-duration, color $trans-duration, border $trans-duration;

/* OTHER ================================================================================ */

$hidden: none !important;