/* IMAGE HOTSPOTS ================================================================================ */

.image-hotspots { position: relative; }
.image-hotspots__item { position: absolute; }

// POINT

.image-hotspots__point {
  height: rem(95, $text-size);
  padding: rem(12.5, $text-size) rem(12, $text-size);
  cursor: pointer;
  filter: drop-shadow(2px 4px 15px rgba(6,12,70,.15));
  background-image: url("../assets/icons/map/icon-map-marker.svg");
  background-repeat: no-repeat;

  @include at($max, $phone - 1) {
    height: rem(47, $text-size);
    padding: rem(6, $text-size) rem(6.5, $text-size);
    background-size: cover;
  }
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-mask-image: url("../assets/icons/map/icon-map-marker-mask.svg");
    mask-image: url("../assets/icons/map/icon-map-marker-mask.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: background-color .3s;
  }
}

.image-hotspots__item_active .image-hotspots__point::before,
.image-hotspots__item:hover .image-hotspots__point::before {
  background-color: $map-marker-color;
}

.image-hotspots__point-image {
  position: relative;
  width: rem(43, $text-size);
  height: rem(43, $text-size);
  border-radius: 50%;

  @include at($max, $phone - 1) {
    width: rem(21, $text-size);
    height: rem(21, $text-size);
  }
}

// TOOLTIP

.tooltip {
  position: absolute;
  top: rem(76, $text-size);
  z-index: 1;
  display: flex;
  width: rem(436, $text-size);
  min-height: rem(145, $text-size);
  padding: rem(40, $text-size) rem(44, $text-size);
  align-items: flex-start;
  background-color: var(--tooltip-bg);
  box-shadow: 2px 4px 15px rgba(6,12,70,.15);
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;

  @include at($max, $phone) {
    top: rem(70, $text-size);
  }

  @include at($max, $phone - 1) {
    top: rem(33, $text-size);
    width: rem(238, $text-size);
    min-height: rem(113, $text-size);
    padding: rem(16, $text-size) rem(20, $text-size) rem(12, $text-size) rem(15, $text-size);
  }
}

.image-hotspots__item:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip_side_left { 
  @include at($min, $fullhd) {
    right: 50%;
  }

  @include at($max, $fullhd - 1) {
    left: 20%;
  }

  @include at($max, $phone) {
    left: 38%;
  }

  @include at($max, $phone-xl) {
    left: 15%;
  }
}

.tooltip_side_right {
  @include at($min, $fullhd) {
    left: 50%;
  }

  @include at($max, $fullhd - 1) {
    right: 20%;
  }

  @include at($max, $phone) {
    right: 38%;
  }

  @include at($max, $phone-xl) {
    right: 15%;
  }
}

.tooltip_side_center {
  @include at($max, $lap) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.tooltip__tooltip-image {
  flex-shrink: 0;
  margin-right: rem(20, $text-size);
  border-radius: 50%;

  @include at($max, $phone - 1) {
    margin-right: rem(8, $text-size);
    width: rem(40, $text-size);
    height: rem(40, $text-size);
  }
}

.tooltip__title {
  display: block;
  margin-bottom: rem(8, $text-size);
  color: var(--title-color);
  font-weight: 900;
  font-size: rem(18, $text-size);

  @include at($max, $phone - 1) {
    margin-bottom: rem(2, $text-size);
    font-size: rem(14, $text-size);
    line-height: em(16, 14);
  }
}

.tooltip__info {
  display: flex;
  margin-bottom: rem(5, $text-size);

  @include at($max, $phone - 1) {
    font-size: rem(11, $text-size);
    line-height: em(13, 11);
  }
}

.tooltip__subtitle {
  color: var(--title-color);
  font-weight: 500;
  line-height: rem(16, $text-font-size);
}