/* SLIDER ================================================================================ */

.slider {
  -webkit-appearance: none;
          appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    cursor: pointer;
  }
}