/* WRAP ================================================================================ */

%gutter {
  padding-left: rem($desktop-container-gutter, $text-size);
  padding-right: rem($desktop-container-gutter, $text-size);

  @include at($max, $phone-xl) {
    padding-left: rem($mobile-container-gutter, $text-size);
    padding-right: rem($mobile-container-gutter, $text-size);
  }
}

.wrapper,
.container,
.large-container {
  margin: auto;
}

.wrapper { 
  max-width: rem($wrapper, $text-size);

  @include at($max, $desk) {
    max-width: rem($wrapper_desk, $text-size);
  }
}

.container {
  max-width: rem($container, $text-size);

  @include at($max, $desk) {
    max-width: rem($container_desk, $text-size);
  }
}

.large-container {
  max-width: rem($large-container + $desktop-container-gutter * 2, $text-size);
  @extend %gutter;
}

.gutter { @extend %gutter; }

%inline-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.section_highlighted {
  padding-top: rem(100, $text-size);
  padding-bottom: rem(100, $text-size);
  background-color: $content-primary-bg;
}